*{
    background-color: aquamarine;
}

header {
    display:flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
};

.main-screen {
    display: flex;
    justify-content: center;
}

h1, .instructions {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.space {
    padding: 45px;
}

.select {
    font-size: 30px;
}

.button-holder {
    text-align: center;
}

.select:hover, .options:hover {
    cursor: pointer;
}

.question-container {
    text-align: center;
}

.quiz-answer {
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.answer-container {
    display: flex;
    justify-content: center;
}

.options {
    padding: 15px;
    font-size: 20px;
}

.hide {
    display: none;
};
